/* Global Styles */
body {
  background-color: #f4f4f4;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}
* {
  width: 100%;
  height: auto;
  border: none;
  box-sizing: border-box;
}
a {
  color: #8f2346;
  text-decoration: none;
}
.top__nav {
  width: 90%;
  height: 5rem;
  display: flex;
  align-items: center; 
  gap: 5rem; 
}
.top__nav_min {
  font-size: 1rem; 
  font-style: italic;
  width: 4rem; 
  text-align: start;
  font-style: italic;
  color: #fff233;
}
.top__nav_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height:4rem;
  gap: 2.8rem;
}
.top__nav_items input {
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
}
.top__nav_sear{
  width:7rem;
  height: 1.9rem;
}
.dropdown__container {
  width: 6.5rem;
  height:2.5rem;
  border: 1px solid #d5d5d5;
 justify-content: space-evenly;
  list-style-type: none;
 position: absolute;
 z-index: 2rem;
}
.dropdown__list{
  display: none;
  text-align: center;
  gap: 2px;
}
.login__btn, .signup__btn {
  width: 40%;
  height: 20%;
  border-radius: 3px;
  padding: 5px 25px;
  outline: none;
}
.signup__btn {
  background-color: #239b73;
  color: white;
  font-weight: bold;
  width: 60%;
  height: 3rem;
}
.unlock__personalization {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  padding: 100px 0 20px 0;
  gap: 1rem;
}
.image-1{
  width: 400px;
  height:10%;
border: #9b2523;
background-image: #234567;
border-radius: 1.3rem;
background-color: chocolate;
gap: 0.1rem;
}
.unlock__personalization h1 {
  font-size: 2.2rem;
  color: #239b73;
  height:45%;
  width: 5opx;
  gap: 2rem;
}
.unlock__personalization p {
  font-size: 20px;
  gap: 1rem;
}
.get__started__btn{
width: 6rem;
height: 1.2rem;
background-color: #239b73;
border-radius:0.75rem;
gap: 3rem;
}
.explore__mentors{
  display:grid;
  width: 95%;
  grid-gap:0.5rem; 
  height: 75%;
  flex-direction: column;
  gap: 2rem;
  border-radius:250px;
}
.flash__card,.flash__card2 {
  display: grid;  
  gap:20rem;  
  background-color: #239b73;
  width:15%;  
  height:60px;  
  border-radius:250px;  
  flex-direction: column; 
  column-gap: 5rem;
  text-align: center;
  align-items: start;  
}
.flash__card:hover {
  background-color: #1d7c5d;  /* A slightly darker color when the card is hovered over */
}
.explore__mentors h3{
  display:grid;
  flex-direction: column;
  grid-column-end: 2rem;
  grid-row-end: 1rem;
  grid-gap: 2rem;
  height: 5rem;
  width: 200px;
  grid-template-rows: 25px,12px;
  grid-template-columns:25px,25px;
}
.mentorship-container {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height:37rem;
  padding: 100px 0 20px 0;
  gap: 3rem;
 }
.image-4{
  width: 450px;
  height:45%;
border: #9b2523;
background-image: #234567;
border-radius: 1.3rem;
align-items: center;
display: flex;
}
.mentorship-container p ,.mentorship-container h4{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width:100%;
  height: 45%;
}
.mentorship-container p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  text-align: left;
  width: 100%; 
  height:35%;
  gap: 2rem;
}
.mentee-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 85%;
  background-color: lightseagreen;
  text-align: center;
  height:45%;
}
.image-2 {
  display: flex;
  justify-content: flex-end;
  width: 55rem;
  height:35% ;
  border-radius: 1.1rem;
 }
  .image-5 {
 display: flex;
  justify-content: flex-end; 
  width: 400px;
  height:13rem ;
  border-radius: 1.1rem;
   }
.form-1 {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 85%;
  gap: 5rem;
}
.form__group {
  font-weight: bold;
  margin-bottom: 15px;
  width: 100%; 
  display:flex;
  text-align:center;
}
.form__group label {
  display: block; 
  margin-bottom: 2px; 
  text-align: center;
}
.form-1 textarea {
  width: 100%; 
  height: 6rem; 
  font-size: 1rem; 
  box-sizing: border-box; 
}
.list {
  background-color: #b39191;
  font-size: 1rem;
  width:75%;
  height:26rem;
  text-align: center;
  flex-direction:column;
  row-gap: 0.3rem;
}
.icon {
  display: flex;
  justify-items: center;
  text-align: center;
  flex-direction:column;
  align-items: center;
  width: 7rem;
  row-gap: 0.3rem;
}
.min {
  font-size: 1rem;
  font-style: oblique;
  color: rgb(95, 204, 41);
  text-align: start;
}


